<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Capoo vs Rabbit</title>
  <link href="https://fonts.googleapis.com/css2?family=Jost:wght@400;700&display=swap" rel="stylesheet" />
  <link rel="stylesheet" href="styles.css" />
  <script src="https://unpkg.com/vue@3.4.9/dist/vue.global.js" defer></script>
  <script src="app.js" defer></script>
</head>

<body>
  <div id="game">

    <header class="container_header">
      <div id="player" class="capoo-header1">
        <img src="img/capoo1.png" alt="capoo" class="capoo_header_img" />
        <div class="healthbar">
          <div class="healthbar__value" :style="playerBarStyles"></div>
        </div>
      </div>

      <div class="round">{{currentRound}}/15</div>

      <div id="monster" class="rabbit-header1">
        <img class="rabbit_header_img" src="img/rabbit.png" alt="rabbit" />
        <div class="healthbar">
          <div class="healthbar__value" :style="monsterBarStyles"></div>
        </div>
      </div>
    </header>

    <article class="container_article">

      <div class="capoo-article">
        <img :src="img1" class="capoo_article_img" alt="" />
      </div>

      <div class="rabbit-article">
        <img :src="img2" class="rabbit_article_img" alt="" />
      </div>


    </article>




    <aside class="container_aside">

      <div id="log" class="log">
        <h2>對戰訊息</h2>
        <ul>
          <li v-for="logMessage in logMessages">
            <span class="capoo_rabbit_font"
              :class="{'log--player': logMessage.actionBy === 'Capoo', 'log--monster': logMessage.actionBy === 'Rabbit'}">{{
              logMessage.actionBy === 'Capoo' ? '咖波' : '兔兔' }}</span>
            <span class="heal_font" v-if="logMessage.actionType === 'heal'">
              <span class="log--heal"> 使用</span>
              {{logMessage.actionBy === 'Capoo' ? '[小雞能量]' : '[罵人]' }}
              <span class="log--heal">治癒 </span>
              <span class="log--heal">{{ logMessage.actionValue }} 點生命</span></span>

            <span class="special_attack_font" v-else-if="logMessage.actionType === 'special_attack'">
              <span class="log--heal"> 使用</span>
              {{logMessage.actionBy === 'Capoo' ? '[破壞死光]' : '[咬咬]' }}
              <span class="log--heal"> 造成 </span>
              <span class="log--heal">{{ logMessage.actionValue }} 點傷害</span>
            </span>

            <span class="attack_font" v-else>
              <span class="log--heal"> 使用</span>
              {{logMessage.actionBy === 'Capoo' ? '[眼睛攻擊]' : '[罵人]' }}
              <span style="color: white" class="log--heal"> 造成 </span>
              <span class="log--heal">{{ logMessage.actionValue }} 點傷害</span>
            </span>
          </li>
        </ul>
      </div>

      <div class="gameover" v-if="winner">
        <dialog open>
          <form method="dialog">
            <div class="winfont">{{win}}</div>
            <button @click="startGame">重新開始</button>
          </form>
        </dialog>

        <button :disabled="gameover">眼睛攻擊</button>
        <button :disabled="gameover" @click="specialAttackMonster">
          破壞死光
        </button>

        <button :disabled="gameover">小雞能量</button>
        <button :disabled="gameover">我認輸了</button>

      </div>

      <div class="attack" id="controls" v-else>
        <button @click="attackMonster">眼睛攻擊</button>
        <button :disabled="mayUseSpecialAttack" @click="specialAttackMonster">
          破壞死光
        </button>

        <button @click="healPlayer">小雞能量</button>
        <button @click="surrender">我認輸了</button>
      </div>


    </aside>


</body>

</html>