<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Capoo vs Rabbit </title>
  <link href="https://fonts.googleapis.com/css2?family=Jost:wght@400;700&display=swap" rel="stylesheet" />
  <link rel="stylesheet" href="styles.css" />
  <script src="https://unpkg.com/vue@3.4.9/dist/vue.global.js" defer></script>
  <script src="app.js" defer></script>


</head>

<body>


  <div id="game" class="">

    <div class="container">
      <img src="img/capoo1.png" class="img1" />
      <div id="player" class="Capoo">
        <div class="healthbar">
          <div class="healthbar__value" :style="playerBarStyles"></div>
        </div>
        <img :src="img1" class="img2" />
      </div>

      <div class="round">{{currentRound}}/15</div>

      <div id="monster" class="rabbit">
        <div class="healthbar">
          <div class="healthbar__value" :style="monsterBarStyles"></div>
        </div>
        <img :src="img2" class="img2" />
      </div>
      <img src="img/rabbit.png" class="img3" />

    </div>


    <div class="container">

      <div id="log" class="log">
        <h2>對戰訊息</h2>
        <ul>
          <li v-for="logMessage in logMessages">
            <span
              :class="{'log--player': logMessage.actionBy === 'Capoo', 'log--monster': logMessage.actionBy === 'Rabbit'}">{{
              logMessage.actionBy === 'Capoo' ? '咖波' : '兔兔'
              }}</span>
            <span style="color:greenyellow" v-if="logMessage.actionType === 'heal'">
              <span style="color: white;" class="log--heal"> 使用</span>
              {{logMessage.actionBy === 'Capoo' ? '[小雞能量]' : '[罵人]' }}
              <span style="color: white;" class="log--heal">治癒自己 </span>
              <span class="log--heal">{{ logMessage.actionValue }} 點生命</span></span>

            <span style="color:yellow" v-else-if="logMessage.actionType === 'special_attack'">
              <span style=" color: white;" class="log--heal"> 使用</span>
              {{logMessage.actionBy === 'Capoo' ? '[破壞死光]' : '[咬咬]' }}
              <span style="color: white;" class="log--heal"> 造成 </span>
              <span class="log--heal">{{ logMessage.actionValue }} 點傷害</span></span>
            </span>

            <span style="color:rgb(8, 216, 216)" v-else>
              <span style=" color: white;" class="log--heal"> 使用</span>
              {{logMessage.actionBy === 'Capoo' ? '[眼睛攻擊]' : '[罵人]' }}
              <span style="color: white;" class="log--heal"> 造成 </span>
              <span class="log--heal">{{ logMessage.actionValue }} 點傷害</span></span>
            </span>

          </li>
        </ul>
      </div>

      <div class="" v-if="winner">
        <dialog open>
          <p style="font-size: 30px;">{{win}}</p>
          <form method="dialog">
            <button class="btnSize" @click="startGame">重新開始</button>
          </form>
        </dialog>

        <div class="attack" id="controls">

          <button @click="attackMonster">眼睛攻擊</button>
          <button :disabled="mayUseSpecialAttack" @click="specialAttackMonster">
            破壞死光
          </button>

          <button @click="healPlayer">小雞能量</button>
          <button @click="surrender">我認輸了</button>
        </div>

      </div>

      <div class="attack" id="controls" v-else>

        <button @click="attackMonster">眼睛攻擊</button>
        <button :disabled="mayUseSpecialAttack" @click="specialAttackMonster">
          破壞死光
        </button>

        <button @click="healPlayer">小雞能量</button>
        <button @click="surrender">我認輸了</button>
      </div>

    </div>
  </div>


</body>



</html>