* {
  box-sizing: border-box;
}

body {
  font-family: DFKai-sb;
  margin: 0;
  background-image: url("img/back1.png");
  background-size: cover;
}

h2 {
  font-size: 200%;
  margin: 5px 0 10px 0;
  text-align: center;
  padding-bottom: 10px;
  border-bottom: 6px solid white;
  color: white;
}

li {
  list-style: none;
}

dialog {
  /* text-align: center;
  top: 30%;
  width: 30%;
  max-width: auto;
  max-height: auto; */
}

button {
  font-family: DFKai-sb;
  font-weight: bold;
  font-size: 30px;
  border: 1px solid rgb(56, 58, 175);
  background-color: rgb(7, 13, 41);
  color: white;
  border-radius: 12px;
  cursor: pointer;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.26);
  width: 50%;
  height: 50%;
}

button:focus {
  outline: none;
}

button:hover,
button:active {
  background-color: skyblue;
  border-color: skyblue;
  box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.26);
}

button:disabled {
  background-color: rgb(55, 56, 124);
  border: 2px solid black;
  box-shadow: none;
  color: white;
  cursor: not-allowed;
}

.button-grid button {
  /* width: 50%; 讓按鈕填滿父容器的寬度 */
}

/* 第一個容器 */
.container_healthbar {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 20vh;
  margin: 0px;
  padding: 0px;
}

.item {
  flex: 1;
  height: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: none;
  transition: flex 0.8s ease;
}

/* 咖波血量條 */
.capoo_healthbar {
  width: 100%;
  height: 40px;
  border: 1px solid #575757;
  margin: 0px;
  margin-top: 15%;
  margin-left: 15%;
  padding: 0px;
  background: #fde5e5;
}

/* 兔兔血量條 */
.rabbit_healthbar {
  width: 100%;
  height: 40px;
  border: 1px solid #575757;
  margin: 0px;
  margin-top: 15%;
  margin-left: -15%;
  padding: 0px;
  background: #fde5e5;
}

/* 血量內 */
.healthbar__value {
  background-color: skyblue;
  width: 100%;
  height: 100%;
}

/* 回合  */
.round {
  text-align: center;
  font-size: 50px;
  margin: 0px;
  padding: 0px;
  padding-top: 3.5%;
}

/* 咖波圖片-血量條 */
.capoo_healthber_img {
  margin: 0px;
  margin-top: 0.5%;
  padding: 0px;
  width: 8%;
  height: 20%;
  position: absolute;
  z-index: 1;
}

/* 兔兔圖片-血量條 */
.rabbit_healthber_img {
  margin: 0px;
  padding: 0px;
  right: 0;
  width: 8%;
  height: 20%;
  position: absolute;
  z-index: 1;
}

/* --------------------------------------------*/

/*  中間部分  */
.container_img {
  display: flex;
  flex-direction: row;
  text-align: center;
  width: 100%;
  height: 48vh;
  margin: 0px;
  padding: 0px;
}

/* 咖波對戰圖片  */
.capoo_img {
  margin: 0;
  padding: 0;
  margin-top: 1%;
  width: 40%;
  height: 90%;
}

.rabbit_img {
  margin: 0;
  padding: 0;
  margin-right: 10%;
  width: 40%;
  height: 90%;
}

/* --------------------------------------------------  */

/*  log item */
.item_log {
  flex: 1;
  height: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: none;
  transition: flex 0.8s ease;
}

/* 對戰訊息 攻擊招式  */
.container_attack_log {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 32vh;
  margin: 0px;
  padding: 0px;
}

/*  技能訊息   */
.log {
  margin: 0px;
  padding: 0px;
  border: 10px solid white;
  box-shadow: 0 3px 15px blue;
  background: rgb(55, 56, 124);
  border-radius: 20px;
  overflow-y: auto;
  opacity: 0.9;
}

/* 技能招式  */

.attack {
  margin: 0px;
  padding: 0px;
  text-align: center;
  border: 10px solid white;
  box-shadow: 0 3px 15px blue;
  background: rgb(55, 56, 124);
  border-radius: 20px;
  overflow-y: auto;
  opacity: 0.9;
}

.gameover {
  margin: 0px;
  padding: 0px;
  text-align: center;
  border: 10px solid white;
  box-shadow: 0 3px 15px blue;
  background: rgb(55, 56, 124);
  border-radius: 20px;
  overflow-y: auto;
  opacity: 0.9;
}

/* -----------------------------------------  */

.capoo_rabbit_font,
.attack_font,
.special_attack_font,
.heal_font {
  font-size: 200%;
}

.capoo_rabbit_font {
  color: white;
}

.attack_font {
  color: pink;
}

.special_attack_font {
  color: yellow;
}

.heal_font {
  color: greenyellow;
}

#log ul {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: left;
}

#log li {
  margin: 0.3rem 0;
}

.log--damage {
  color: red;
}

.log--heal {
  color: yellow;
}
