* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  background-color: #880017;
  color: white;
  text-align: center;
}

.container_header {
  height: 10vh;
  display: flex;
  justify-content: space-between;
}

.capoo_header_img,
.rabbit_header_img {
  width: 10vh;
  height: auto;
  min-width: 0;
  margin-left: 0%;
}

.rabbit_header_img {
  order: 1;
}

.healthbar {
  width: 100%;
  height: 5vh;

  align-self: center;
  border: 1px solid #575757;
  background: #fde5e5;
}

.round {
  width: 20%;
  align-self: center;
  font-size: 55px;
}

/* 血量內 */
.healthbar__value {
  background-color: skyblue;
  width: 100%;
  height: 100%;
}

.capoo-header1,
.rabbit-header1 {
  width: 40%;
  align-self: center;
  display: flex;
}

.who_capoo_win,
.who_rabbit_win {
  width: 10%;
  font-size: 60px;
  display: flex;
  align-self: flex-end;
}

.who_rabbit_win {
  justify-content: flex-end;
}

.container_article {
  height: 50vh;
  display: flex;
  justify-content: space-between;
  background: #fde5e5;
}

.capoo-article,
.rabbit-article {
  width: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.capoo_article_img,
.rabbit_article_img {
  width: 40vh;
  min-width: 0;
  height: auto;
}

.container_aside {
  height: 40vh;
  display: flex;
  justify-content: space-between;
  background: palegreen;
}

.log {
  width: 50%;
  border: 10px solid white;
  box-shadow: 0 3px 15px blue;
  background: rgb(55, 56, 124);
  border-radius: 20px;
  overflow-y: auto;
  opacity: 0.9;
}

/* 技能招式  */

.attack {
  width: 50%;
  border: 10px solid white;
  box-shadow: 0 3px 15px blue;
  background: rgb(55, 56, 124);
  border-radius: 20px;
  overflow-y: auto;
  opacity: 0.9;
}

.gameover {
  width: 50%;
  border: 10px solid white;
  box-shadow: 0 3px 15px blue;
  background: rgb(55, 56, 124);
  border-radius: 20px;
  overflow-y: auto;
  opacity: 0.9;
}

button {
  font-family: DFKai-sb;
  font-weight: bold;
  font-size: 40px;
  border: 3px solid rgb(56, 58, 175);
  border-right: 5px;
  background-color: rgb(7, 13, 41);
  color: white;
  border-radius: 12px;
  cursor: pointer;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.26);
  height: 50%;
  width: 50%;
}

button:focus {
  outline: none;
}

button:hover,
button:active {
  background-color: skyblue;
  border-color: skyblue;
  box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.26);
}

button:disabled {
  background-color: rgb(126, 118, 118);
  border: 2px solid black;
  box-shadow: none;
  color: white;
  cursor: not-allowed;
}

.gameagain {
  text-align: center;
  top: 40%;
  left: 35%;
  width: 30%;
  height: 12vh;
  z-index: 1;
}

h2 {
  font-size: 40px;
  margin: 5px 0 10px 0;
  text-align: center;
  padding-bottom: 10px;
  border-bottom: 6px solid white;
  color: white;
}

.winfont {
  font-size: 45px;
  text-align: center;
}

/* 對戰訊息 攻擊招式  */
.container_attack_log {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 32vh;
}

/*  技能訊息   */

/* -----------------------------------------  */

.test {
  width: 30%;
  min-width: auto;
  text-align: center;
  height: auto;
  margin-top: 20vh;
}

.capoo_rabbit_font,
.attack_font,
.special_attack_font,
.heal_font {
  font-size: 30px;
}

.capoo_rabbit_font {
  color: white;
}

.attack_font {
  color: pink;
}

.special_attack_font {
  color: yellow;
}

.heal_font {
  color: greenyellow;
}

#log ul {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: left;
}

#log li {
  margin: 0.3rem 0;
}

.log--damage {
  color: red;
}

.log--heal {
  color: yellow;
}

.btnsize {
  font-size: 28px;
  height: 20%;
  width: 70%;
}

/* ------------------------------------------ */

@media only screen and (max-width: 643px) {
  .capoo_rabbit_font,
  .attack_font,
  .special_attack_font,
  .heal_font {
    font-size: 12px;
  }

  .who_capoo_win,
  .who_rabbit_win {
    font-size: 20px;
  }

  .round {
    font-size: 30px;
  }

  .gameagain {
    text-align: center;
    top: 40%;
    left: 32%;
    width: 35%;
    height: 10vh;
    z-index: 1;
  }

  .capoo_article_img,
  .rabbit_article_img {
    width: 20vh;
  }

  .winfont {
    font-size: 25px;
  }

  .btnsize {
    font-size: 25px;
    height: 20%;
  }
  h2 {
    font-size: 20px;
  }

  button {
    font-size: 20px;
  }
}

@media only screen and (min-width: 644px) and (max-width: 799px) {
  .capoo_rabbit_font,
  .attack_font,
  .special_attack_font,
  .heal_font {
    font-size: 18px;
  }

  .round {
    font-size: 30px;
  }

  .who_capoo_win,
  .who_rabbit_win {
    font-size: 40px;
  }

  .capoo_article_img,
  .rabbit_article_img {
    width: 20vh;
  }

  .winfont {
    font-size: 30px;
  }

  .btnsize {
    font-size: 25px;
    height: 20%;
  }

  h2 {
    font-size: 20px;
  }

  button {
    font-size: 25px;
  }
}

@media only screen and (min-width: 800px) and (max-width: 1028px) {
  .capoo_rabbit_font,
  .attack_font,
  .special_attack_font,
  .heal_font {
    font-size: 22px;
  }

  .round {
    font-size: 35px;
  }

  .who_capoo_win,
  .who_rabbit_win {
    font-size: 50px;
  }

  .capoo_article_img,
  .rabbit_article_img {
    width: 30vh;
  }

  .winfont {
    font-size: 35px;
  }

  .btnsize {
    font-size: 28px;
    height: 16%;
  }

  h2 {
    font-size: 26px;
  }

  button {
    font-size: 35px;
  }
}

@media only screen and (min-width: 1029px) and (max-width: 1440px) {
  .capoo_rabbit_font,
  .attack_font,
  .special_attack_font,
  .heal_font {
    font-size: 30px;
  }

  .who_capoo_win,
  .who_rabbit_win {
    font-size: 60px;
  }
  .round {
    font-size: 45px;
  }

  .winfont {
    font-size: 40px;
  }

  .btnsize {
    font-size: 28px;
    height: 16%;
  }

  h2 {
    font-size: 30px;
  }

  button {
    font-size: 45px;
  }
}
